@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



@theme {
  --font-montserrat: 'Montserrat', sans-serif;
}

@layer utilities {
  .section-padding {
    padding-left: clamp(16px, 6.5vw, 94px);
    padding-right: clamp(16px, 6.5vw, 94px);
    padding-top: clamp(16px, 6.5vw, 88px);
    padding-bottom: clamp(16px, 6.5vw, 88px);
  }
  .secound-section-padding {
  padding-left: clamp(16px, 6vw, 184px);
  padding-right: clamp(16px, 6vw, 184px);
  padding-top: clamp(16px, 6vw, 30px);
  padding-bottom: clamp(16px, 6vw, 30px);
}

}


:root {
  font-family: var(--font-montserrat);
}
